.about {
    display: none;

    @include desktop {
        display: block;
        padding-top: 0;
        padding-bottom: 94px;
    }

}

.about__text {
    @include font(700, 36, 1.17, 0.03);
    margin-bottom: 50px;
    text-align: center;
}

.about__application {
    list-style-type: none;
    display: flex;

    &>li:not(:first-child) {
        margin-left: 30px;
    }
}

.application__pictures {
    position: relative;
}

.application__label {
    position: absolute;
    display: flex;
    bottom: 0;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(47, 48, 58, 0.8);
}

.application__text {
    @include font(700, 14, 1.14, 0.03);
    text-align: center;
    text-transform: uppercase;
    color: var(--text-btn-accent);
}