img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
  /* border: 2px solid tomato; */
}
