.header {
    border-bottom: 1px solid #ececec;
}

.header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        @include tablet{
            padding: 21px 15px;
        }
        @include desktop{
            padding: 25px 15px;
        }
        
    
}

/* ---логотип--- */

.header__logo {
        @include font(700,24,1.17,0.03);    
    
    @include tablet{
        padding: 0;
        margin-right: 87px;
    }
    @include desktop{
        // padding: 25px 0;
        margin-right: 93px;
        @include font(700, 26, 1.19, 0.03);   
    }
}

.header__logo-color {
    color: var(--logo-web-color);   
}

.navigation{
    display: none;
    @include tablet{
        display: block;
    }
}

.navigation__list {
    padding: 0;
    display: block;
    list-style-type: none;
    display: flex;
    &>li:not(:last-child) {
    margin-right: 50px;
}
}

.navigation__link {
    position: relative;
    padding: 32px 0;
    @include font(500,14,1.14,0.02);
    text-decoration: none;
    color: var(--primery-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    color: var(--accent-color);
}    
}

.navigation__list .navigation__link.current {
    color: var(--accent-color);
 &::after {
    position: absolute;
    right: 0;
    content: ' ';
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    @include tablet{
        bottom: -2px;
    }
    @include desktop{
        bottom: -1px;
    }
}   
}

/* ---контакти шапки--- */
.connection {
    list-style-type: none;
    display: none;
    @include tablet{
     display: inline;  
    }
    @include desktop{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

.connection--margin-left{
 margin-left: auto;   
}

.connection__mail {
    // display: flex;
    // margin-right: 50px;
    // align-items: center;
    &:focus,
    &:hover {
    color: var(--accent-color);
    fill: currentColor;
}
    @include tablet{
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
    @include desktop{
        margin-right: 30px;
        margin-bottom: 0;
    }
}

.connection__mail,
.connection__phone {
    padding: 32px 0;
    @include font(500,14,1.14,0.02);
    color: var(--second-color);
    text-decoration: none;
    fill: var(--second-color);
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include tablet{
        padding: 0;
    }
}

.connection__phone {
    display: flex;
    align-items: center;
    &:hover,
    &:focus{
        color: var(--accent-color);
        fill: currentColor;
    }
}

.connection__icon {
    margin-right: 10px;
}
.menu-open{
    border: none;
    background-color:var(--text-btn-accent);
    padding: 0;
    width: 40px;
    height: 40px;
    @include tablet{
        display: none;
    }
    &:hover .menu-open__icon,
    &:focus .menu-open__icon{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        fill: var(--accent-color);
    }
}
.menu-open__icon{
    width: 100%;
    height: 100%;
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



