
.logo {
    display: block;
    font-family: 'Raleway';
    text-decoration: none;
    color: var(--accent-color);
}

// .logo-footer {
//     display: block;
//     font-family: 'Raleway';
//     font-size: 26px;
//     line-height: 1.19;
//     text-decoration: none;
//     letter-spacing: 0.03em;
//     color: var(--accent-color);
//     margin-bottom: 20px;
// }