.poster{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.section__poster {
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 3);
    row-gap: 30px;
}

.poster__list a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.poster__text-title {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}

.poster__list.img {
    margin-right: 0;
}

.poster__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
&:hover .overlay,
&:focus .overlay {
    transform: translateY(-294px);
}
}

.poster__wrapper {
    position: relative;
    overflow: hidden;
    transition: transform 250px cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 294px;
    width: 100%;
    padding: 0 24px;
    background: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.poster__overlay{
position: absolute;    
}

.overlay__text {
    @include font(400, 18, 1.56, 0.03);
    color: var(--text-btn-accent);
}

.poster__name {
    @include font(700,18,2,0.06);
    margin-bottom: 4px;
}

.poster__view {
    @include font (400,16,1.88,0.03);
    color: var(--second-color);
}
