:root {
    --primery-color: #212121;
    --accent-color: #2196f3;
    --second-color: #757575;
    --backround-color: #f5f5f5;
    --logo-web-color: #000000;
    --background-btn: #f5f4fa;
    --text-btn-accent: #ffffff;
    --footer-adress-text: rgba(255, 255, 255, 0.6);
    --footer-backround-color: #2f303a;
    --icon-color: #afb1b8;
}

body {
    // width: 100%;
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: var(--primery-color);
}